.host-img{
    height: 150px;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &.switch{
        background-image: url('/static/articleImg/switch.jpg');
        @include bg-mask(red);
    }
    &.n3ds{
        background-image: url('/static/articleImg/nintendo-3ds.jpg');
        @include bg-mask(black);
    }
    &.ps4{
        background-image: url('/static/articleImg/ps4.jpg');
        @include bg-mask(black);
    }
    @include media-breakpoint-up(sm) { 
        height: 200px;
    }
    @include media-breakpoint-up(md) { 
        height: 300px;
        &:hover{
            .host-info a{
                transform: translateY(0px);
            }
        }
    }
    @include media-breakpoint-up(lg) { 
        height: 400px;
    }

}


.host-info{
    z-index: 999;
    color: white;
    font-weight: bolder;
    padding:8px;
    width: 80%;
    overflow: hidden;
    background-color: rgba(white,.4);
    @include media-breakpoint-up(md) { 
        padding:16px;
    }
    h3{
        font-size: 16px;
        border-bottom: 2px solid white;
        @include media-breakpoint-up(md) { 
            font-size: 24px;
        }
    }
    p{
        font-size: 12px;
        margin-bottom: 10px;
        @include multiple-line-truncate(2,50px);
        @include media-breakpoint-up(md) { 
            margin-bottom: 15px;
            font-size: 16px;
            @include multiple-line-truncate(3,100px);
        }
    }
    a{
        padding:4px 8px 4px 8px;
        color:white;
        border:1px solid white;
        background-color: rgba(black,.3);
        transition: all .3s;
        display: inline-block;
        width: 80px;
        font-size: 12px;
        text-align: center;
        @include media-breakpoint-up(md) { 
            padding:8px 16px 8px 16px;
            width: 100px;
            font-size: 16px;
            transform: translateY(100px);
        }
        &:hover{
            background-color: rgba(black,.5);
        }
    }
}