.login-title-block{
	background: $main;
	color: white;
	h1{
		font-size: 36px;
		font-weight: bolder;
		text-align: center;
		margin-bottom: 0px;
	}
}

.login-form-title{
	padding-top: 15px;
	padding-bottom: 0px;
	color: white;
	background: $main;
	display: flex;
	justify-content: center;
	h1{
		margin-bottom: 0px;
		font-size: 20px;
		width: 265px;
		border-right: 1px solid;
		overflow: hidden;
		white-space: nowrap;
		animation: typing 2.5s steps(13), insert 1s steps(1) infinite;
	}
	@include media-breakpoint-up(md) {
		padding-top: 20px;
		padding-bottom: 20px;
		h1{
			font-size: 24px;
			width: 315px;
		}
	}
}

@keyframes insert {
	50% {
		border-color: transparent;
	}
}
@keyframes typing {
	0% {
		width: 0;
	}
}


.login-form-block{
	background: $main;
	padding: 15px 20px 10px 20px;
	@include media-breakpoint-up(md) {
		padding: 0px 30px 25px 30px;
	}
}

.login-form{
	position: relative;
	input{
		color: $main;
	}
}

.form-input{
	padding-top: 16px;
	padding-bottom: 16px;
	padding-right: 10px;
	outline: none;
	border: none;
	background: $second;
	font-size: 16px;
	text-indent: 60px;
}

.login-form-icon{
	position: absolute;
	color: $main;
	background-color: $second;
	left: 0px;
	top: 0px;
	bottom: 0;
	width: 56px;
	text-align: center;
	line-height: 56px;
	margin-bottom: 0;
}

.form-input,.login-form-icon{
	overflow: hidden;
	border-radius: 10px;
}

.remember-block{
	display: flex;
	align-items: center;
}

.remember-checkbox{
	width: 16px;
	height: 16px;
	margin-right: 8px;
	border: none;
	cursor: pointer;
}

.login-btn{
	@include btn;
}




