
.swiper-button-prev,.swiper-button-next{
    background-image:none;
    background-color: rgba(white,.3);
    border-radius: 5px;
    color:$main;
    text-align: center;
    line-height: 44px;
    transition: all .3s;
    outline:none;
    &:hover{
        background-color: rgba(white,.8);
    }
}